#!/bin/bash

echo "Configuring .bashrc, vimrc and .tmux.conf files"
cp {.bashrc,.tmux.conf,.vimrc} /home/{{ user }}
mkdir -p /home/{{ user }}/.tmux/
cp ocp-project.tmux ocp-cluster.tmux /home/{{ user }}/.tmux/
chown {{ user }}:$GROUP /home/{{ user }}/{.bashrc,.tmux.conf,.vimrc}
chown -R {{ user }}:$GROUP /home/{{ user }}/.tmux/
echo "Copying tmux-sessions dir to '{{ user }}' home"
cp -R tmux-sessions /home/{{ user }}/
echo "Done"