apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: exercise11-nad
  namespace: namespace-{{ user }}
spec:
  config: '{"name":"exercise11-nad","type":"bridge","cniVersion":"0.3.1","bridge":"br11","macspoofchk":true,"ipam":{},"preserveDefaultVlan":false}'