apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    run: curlimage
  name: curlimage
spec:
  containers:
  - image: quay.io/chiaretto/curlimage
    name: curlimage
    resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Always
status: {}