apiVersion: v1
data:
  key: c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFEem9ENnBJWkhjNW9EZUVtSkNIamV6RnBZZDFYTWdqdkJHVVAvVDJheURCdGViV2tGNUxyTVhtSm1yVVV5UjJ6aWJvVDhjZ0l5OWcyUGpkdnVyYSt0akhDdjB5MFVGTm5NaTZWN0xPdWhDTWo5TUF6aTdwWmppU2pmVGxid1QxZm9ZQXp2V20zcml1bjgvdmpQWGIzbjdYUmJ1WGpwOUltNmZRWjhpVDlUZW0yNUkzWEltY2V4QnFuSlcvZmpIUWFReTlWVFFPZ3hOVUpIOXRlODdzV20rVjFGd0xaM0gxR2RVTXpUUWpuSlluUFZVdjRmRVhGU2kvaWttUzRCMk9aUjc2VWxxMG1RaVBVdUtUcG5pc2Q5OW1jZ2hKeDdPR1J3cWpIM0VsQW1mSFJNUWJyK21NT0NOaUEvckhNeEl3WnNpSlhjY05WVDNKWGJLbmp0RmpuNGY=
kind: Secret
metadata:
  name: idrsa
  namespace: 'namespace-{{ user }}'
type: Opaque