session_name: PERF
windows:
  - window_name: performancetest-1
    layout: tiled
    focus: true
    panes:
      - sudo su - user1
      - sudo su - user2
      - sudo su - user3
      - sudo su - user4
  - window_name: performancetest-2
    layout: tiled
    panes:
      - sudo su - user5
      - sudo su - user6
      - sudo su - user7
      - sudo su - user8
  - window_name: performancetest-3
    layout: tiled
    panes:
      - sudo su - user9
      - sudo su - user10
      - sudo su - user11
      - sudo su - user12
  - window_name: performancetest-4
    layout: tiled
    panes:
      - sudo su - user13
      - sudo su - user14
      - sudo su - user15
      - sudo su - user16
  - window_name: performancetest-5
    layout: tiled
    panes:
      - sudo su - user17
      - sudo su - user18
      - sudo su - user19
      - sudo su - user20